body {
  margin: 5px;
  background-color: #38244d;
  font-family: 'Single Day', cursive;
  color: white;
}

.navbar{
  background-color: #0C0910;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 3px 8px 0 rgba(0,0,0,0.3);
  border-radius: 3%;
}
.navbar-title{
  padding-left: 200px;
}
.navbar-title>a{
  text-decoration: none;
  color: white;
}
.navbar > img{
  position: fixed;
  width: 200px;
}
.navbar > h1{
  font-size: 50px;
  margin-right  : 1000px;
}
.navbar-items{
  width: 450px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 40px;
}
.navbar-items>a{
  text-decoration: none;
  color: white;
}
.main-body-index{
  display: flex;
  justify-content: space-evenly ;
}
.main-body-elements{
  margin: 20px 20px 20px 20px;
  max-width: 30vw;
  background-color: #0C0910;
  border-radius: 2%;
  box-shadow: 0 3px 8px 0 rgba(0,0,0,0.3);
  width: 30vw;
  height: 75vh;
}
.main-body-elements > img{
  width: 200px;
  padding-left: 20%;
  padding-top: 2rem;
  border-radius:3%;
}
.flurry-name{
  display: flex;
  justify-content: space-around;
  font-size: 40px;
  padding: 15px 3px 10px 3px;
  font-weight: bolder;
}
.flurry-name-type{
  font-size: 25px;
  display: flex;
  justify-content: space-around;
  padding: 0px 3px 15px 3px;
  font-weight: bold;
}
.flurry-mood{
  font-size: 28px;
  display: flex;
  justify-content: space-around;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-bottom: 1rem;
  padding-right: 1rem;
}
.footer{
  border-radius: 3%;
  height: 50px;
  background-color: #0C0910;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 5px;
  width: 99.5vw;
}
.footer > a{
  text-decoration: none;
  color: white;
  font-size: 30px;
  font-weight: bolder;
  text-decoration: underline;
}